* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 100px;
  background: #111;
  height: 100vh;
}

main header {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100px;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}

main header a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

main header .mark {
  position: relative;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

main header .menu {
  position: relative;
  width: 30px;
  height: 30px;
  background: url(./img/menu.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

main .menu {
  position: absolute;
  display: flex;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  z-index: 100;
}

main .menu .box {
  position: relative;
  width: 25%;
  height: 100%;
  overflow: hidden;
  border-right: 10px solid #111;
}

main .menu .box:last-child {
  border: none;
}

main .menu .box .individual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  opacity: 0.5;
  filter: grayscale(1)
}

main .menu .box .individual:active {
  position: fixed;
  top: 100px;
  left: 100px;
  height: calc(100% - 200px);
  width: calc(100% - 200px);
  z-index: 100;
  filter: grayscale(0 );
}

main .menu .box .individual:hover {
  opacity: 1;
  filter: grayscale(0);
}

main .menu .box .individual img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 1em;
  color: white;
  padding: 10px;
}

footer p {
  color: white;
}


/*ARROW LINK*/
#arrow {
  position: relative;
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
}



#arrow a {
  color: white;
}

.copy {

  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}
