*{
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: #333;
}
body {
    margin: 0;
    padding: 0;
    background: #ebebeb;
    width: 100%;
}
.container {
    width: 100%;
    max-width: 1160px;
    margin: auto;
}
.menuL {
    list-style: none;
}
.menuL > li {
    display: inline-block;
    padding: 0 10px;
}
.menuL > li > a:hover {
    box-shadow: inset 0px -5px 0px #0037ff;
    color: #0037ff;
}
.menuL > li > a {
    text-decoration: unset;
    font-size: 18px;
    line-height: 30px;
    padding: 5px 10px;
    transition: box-shadow 0.5s ease-in-out;
}
.gridRow {
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    justify-content: center;
}
.logo img {
    width: 100%;
    max-width: 420px;
    display: block;
}
nav.navbar {
    text-align: end;
}
.branding {
    padding: 10px 0;
}

@media only screen and (max-width: 767px) and (min-width: 100px) {
    header#header {
        background: #fff;
    }
    .container {
        max-width: 90%;
        margin: auto;
    }
    .menuL {
        display: flex;
        overflow: auto;
        padding: 10px 0;
    }   
    header#header .gridRow {
        grid-template-columns: 100%;
    } 
    .menuL > li {
        padding: 0;
    }
    .menuL > li > a {
        font-size: 15px;
    }
    .menuL > li > a:hover {
        box-shadow: inset 0px -3px 0px #0037ff;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 768px) { 
    .container {
        max-width: 95%;
    }
     header#header .gridRow {
        grid-template-columns: 25% 75%;
    }
    .menuL > li {
        padding: 0;
    }
    .menuL > li > a {
        font-size: 18px;
    }
}
